@import "tailwindcss";

:root {
}

@theme {
    --color-red: #C40000;
    --color-blue: #005DC4;
    --color-dark-blue: #002D5E;
    --color-extra-light-grey: #F0F0F0;
    --color-light-grey: #D6D6D6;
    --color-dark-grey: #424242;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(var(--scroll-distance));
    }
}

.animate-scroll-left {
    animation: scroll-left 240s linear infinite;
}

body {
    --font-sans: var(--font-source-sans);
    --font-serif: var(--font-space-grotesk);
    font-family: var(--font-sans), system-ui, sans-serif;
}
