@import "tailwindcss";

:root {
}

@theme {
    --color-red: #C40000;
    --color-blue: #005DC4;
    --color-dark-blue: #002D5E;
}


body {
    --font-sans: var(--font-source-sans);
    --font-serif: var(--font-space-grotesk);
    font-family: var(--font-sans), system-ui, sans-serif;
}
